@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

        /* light300 regular400 bold700 extrabold800 */
        body{font-family: 'NanumSquareRound', sans-serif; color: black;}
        header h2{font-weight: 800;}

        /* Header */
        header {
        width:100%;
        padding: 20px 0;
        }

        nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        }

        nav a{
        margin: 5px 0;
        padding: 5px 0;
        text-decoration: none;
        font-weight: bold;
        line-height: 1.3;
        color: black;
        }

        h4 a{
        margin: 5px 0;
        padding: 5px 0;
        text-decoration: none;
        font-weight: bold;
        line-height: 1.3;
        color: black;
        text-align: right;
        float:right;
        }

        #yellowtitle{
        color: #F9CA03;
        }

        .imageicon{
        padding: 0px 0px 0px 10px;
        text-align: right;
        float:right;
        }

        nav a:hover {
        color: #F9CA03;
        }

        /* Main */
        main {
        background-color: #F2F2F2;
        padding: 85px 0;
        }

        .login{
        padding: 60px;
        background-color:white;
        border-radius: 40px;
        width:700px;
        display: block; margin: 0px auto;
        }

        .login_input{
        padding: 40px;
        text-align: center;
        width: 500px;
        height: 350px;
        display: block; margin: 0px auto;
        line-height: 50px;
        }

        .sociallogin{
        padding: 20px 0;
        border-radius: 40px;
        text-align: center;
        color: #F9CA03;
        border: 1px solid #F9CA03;
        padding: 10px 170px;
        font-weight: 700;
        }

        .defaultlogin{
        padding: 20px 0;
        border-radius: 40px;
        width: 500px;
        text-align: center;
        background-color:#F9CA03;
        color: white;
        padding: 10px 185px;
        font-weight: 700;
        }

        input{
        padding: 20px 0;
        border-radius: 40px;
        width: 410px;
        border: 1px solid #CCCCCC;
        padding: 10px 80px;
        font-weight: 700;
        }

        input::placeholder {
        color: #CCCCCC;
        font-family: 'NanumSquareRound', sans-serif;
        }

        .signup{
        color: #CCCCCC;
        }

        @media only screen and (min-width: 480px) {
        nav a{
            text-align: center;
            float: left;
            margin-right: 5%;
        }

        .imageicon, h4 a{
            float: right;
        }
        
        }

        @media only screen and (min-width: 768px) {
        header h2 {
            float: left;
            font-size: 2rem;
        }

        nav {
            text-align: center;
            margin-left: 50px;
            float: left;
            width: 40%;
        }

        
        main article {
            float: left;
            width: 70%;
        }
        
        }

        /* Common */
        .clearfix:after {
        clear: both;
        content: " ";
        display: table;
        }

        .wrapper {
        max-width: 1024px;
        width: 90%;
        margin: 0 auto;
        }

        h1, h2, h3, p {
        margin: 0;
        }

        * {
        box-sizing: border-box;
        }