@charset "UTF-8";

:root {
		  --my-font: sans-serif;
		  --my-color:black;
		  --my-color2:white;
		  --my-fontSize:10px;
	}
p{
  font-size: calc(1.0*var(--my-fontSize));
  margin:0;
}
.contact p{
  font-size: calc(0.8*var(--my-fontSize));
}

h6{
  font-size:calc(1.3*var(--my-fontSize));
  margin:0;
  font-weight:900;
}
h6:not(.interest>h6){
  margin:0;
  color : #FDCBCB;
}
.picBox img{
  margin:5%;
  width:120px;
  height:130px;
}
 .wrap .container {
			position: relative;
			width: 877px;/* 2480 */
			height: 570px;/* 3508 */
			background-color: white;
      border: 1px solid black;
			font-family:var(--my-font);
      padding:1%;
}
.left{
  position:absolute;
  width:35%;
  float:left;
}


.right{
  position:absolute;
  float:left;
  margin-left:36%;
  width:58%;
  padding-left:2%;
}

.myInfo, .sgca{
  position:relative;
  width:100%;
  height:auto;
}

.myInfo_upper, .myInfo_under{
  position:relative;
  width:100%;
  overflow:auto;
}
.picBox{
  float:left;
  width:40%;
  height:auto;
}

.infoBox{
  float:right;
  width:54%;
  height:auto;
  padding-left:6%;
}
.contact>div{
  margin-bottom:2%;
}
.myInfo>div,.sgca>div{
  margin-bottom:5%;
}
.advantage ,interest,introduce,.caBox {
  display :block;
}
.advantage *,.interest *,.skill_content div *,.graduation_content div *,.award_content div *,.ceritificate_content div *{
  display:inline-block;
  margin-bottom:1%;
}

.award_content>div div:nth-child(3),.ceritificate_content>div div:nth-child(3),.project_skill *,.activity_content>div>div div:nth-child(3){
  background-color:#EAEAEA;
  padding:0 2%;
  border-radius:5px;
}
.award_content>div div:nth-child(1),.ceritificate_content>div div:nth-child(1),.skill_content>div>div:nth-child(1),.graduation_content>div>div:nth-child(1){
  font-weight:600;
}

.caBox{
  overflow:hidden;
}
.caBox>div{
  float :left;
  width:50%;
} 
.advantage div {
    margin-right: 1%;
}
.interest div{
  background-color:#FDCBCB;
  margin-right: 1%;
  border-radius:5px;
  padding:0 1.5%;
  font-weight:700;
}
.graduation_content div div {
    margin-right: 1.5%;
}
.ceritificate_content div div, .award_content div div {
    margin-right: 2%;
}
.activity,.project{
  position:relative;
  width:100%;
}
.activity_content>div,.project_content>div{
  overflow:hidden;
}
.activity_content>div>div,.project_content>div>div{
  float:left;
  width:48%;
  padding:1%;
}
.project_content>div>div div,.activity_content>div>div div{
  margin-bottom:1.5%;
}
.project_content>div>div div:nth-child(4),.activity_content>div>div div:nth-child(4){
  border : 1px solid #EAEAEA;
  border-radius:10px;
  padding:2%;
}
.project_content>div>div>div:nth-child(1),.activity_content>div>div>div:nth-child(1){
  font-weight:900;
/*   font-size: calc(1.1*var(--my-fontSize)); */
}
.project_content>div>div>div:nth-child(4) p,.activity_content>div>div>div:nth-child(4) p{
  line-height:130%;
}

.project_skill *,.activity_content>div>div div:nth-child(1),.activity_content>div>div div:nth-child(2),.activity_content>div>div div:nth-child(3){
  display : inline-block;
  margin-right:1%;
}

/* progress bar  */
.range {
  -webkit-appearance: none;
  background: linear-gradient(to right,
    #FDCBCB 0%, #FDCBCB 50%,
    #EAEAEA 50%, #EAEAEA 100%);
  cursor: pointer;
  height: 10px;
  transitionx: 0.1s ease-in;
  width: 100%;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

:focus {
  outline: none;
}
.rangeBox{
  width:60%;
}
.rangeName{
  width:20%;
}
.skill_content>div>div:nth-child(3){
  margin-left:2%;
  color:#FDCBCB;
}

/* 가운데 선 */
.line{
  position:absolute;
  float:left;
  margin-left:36.5%;
  height:94%;
  border-left:1.5px solid #E3E3E3;
}

.urlIcon{
	width: 5%;
    position: relative;
    top: -20%;
    margin-top: 3%;
    margin-left: 2%;
}

.contactIcon{
	width: 5%;
    margin-right: 2%;
}
.fieldTitle{
	display:none;
}