.u-section-1 .u-sheet-1 {
  min-height: 1923px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1792px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-item-2 {
  /* margin-top: 60px;
  margin-bottom: 60px; */
  position: relative;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  /* padding: 30px 0; */
}

.u-section-1 .u-list-1 {
  min-height: 478px;
  grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
  grid-gap: 0px 0px;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 16px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-4 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-5 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 16px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-6 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-7 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-8 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-8 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-9 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-10 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-11 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-12 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-12 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-13 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-13 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-14 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-14 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-15 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-15 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-16 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-16 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-17 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-18 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-18 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-19 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-19 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-20 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-20 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 5px 0 0;
}

.u-section-1 .u-icon-21 {
  height: 88px;
  width: 88px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 16px auto 0 32px;
}

.u-section-1 .u-text-21 {
  font-weight: normal;
  text-transform: none;
  line-height: 25.6px;
  margin: 7px -58px 0;
}

.u-section-1 .u-text-22 {
  margin: 50px auto 0 16px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-list-2 {
  min-height: 1073px;
  grid-gap: 11px 11px;
  grid-template-columns: calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px) calc(25% - 8.25px);
  grid-template-rows: auto;
  height: auto;
  margin-top: -1112px;
  margin-bottom: 80px;
  margin-left: 0;
}

.u-section-1 .u-list-item-22 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-24 {
  padding: 30px;
}

.u-section-1 .u-icon-22 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-24 {
  margin: 0;
}

.u-section-1 .u-list-item-23 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-25 {
  padding: 30px;
}

.u-section-1 .u-icon-23 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-25 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  margin: 0;
}

.u-section-1 .u-list-item-24 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-26 {
  padding: 30px;
}

.u-section-1 .u-icon-24 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-27 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-28 {
  margin: 0;
}

.u-section-1 .u-list-item-25 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-27 {
  padding: 30px;
}

.u-section-1 .u-icon-25 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-29 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-30 {
  margin: 0;
}

.u-section-1 .u-list-item-26 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-28 {
  padding: 30px;
}

.u-section-1 .u-icon-26 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-31 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-32 {
  margin: 0;
}

.u-section-1 .u-list-item-27 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-29 {
  padding: 30px;
}

.u-section-1 .u-icon-27 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-33 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-34 {
  margin: 0;
}

.u-section-1 .u-list-item-28 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-30 {
  padding: 30px;
}

.u-section-1 .u-icon-28 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-35 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-36 {
  margin: 0;
}

.u-section-1 .u-list-item-29 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-31 {
  padding: 30px;
}

.u-section-1 .u-icon-29 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-37 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-38 {
  margin: 0;
}

.u-section-1 .u-list-item-30 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-32 {
  padding: 30px;
}

.u-section-1 .u-icon-30 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-39 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-40 {
  margin: 0;
}

.u-section-1 .u-list-item-31 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-33 {
  padding: 30px;
}

.u-section-1 .u-icon-31 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-41 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-42 {
  margin: 0;
}

.u-section-1 .u-list-item-32 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-34 {
  padding: 30px;
}

.u-section-1 .u-icon-32 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-43 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-44 {
  margin: 0;
}

.u-section-1 .u-list-item-33 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-35 {
  padding: 30px;
}

.u-section-1 .u-icon-33 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-45 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-46 {
  margin: 0;
}

.u-section-1 .u-list-item-34 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-36 {
  padding: 30px;
}

.u-section-1 .u-icon-34 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-47 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-48 {
  margin: 0;
}

.u-section-1 .u-list-item-35 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-37 {
  padding: 30px;
}

.u-section-1 .u-icon-35 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-49 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-50 {
  margin: 0;
}

.u-section-1 .u-list-item-36 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-38 {
  padding: 30px;
}

.u-section-1 .u-icon-36 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-51 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-52 {
  margin: 0;
}

.u-section-1 .u-list-item-37 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-39 {
  padding: 30px;
}

.u-section-1 .u-icon-37 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-53 {
  width: 116px;
  margin: 0 auto;
}

.u-section-1 .u-text-54 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1735px;
  }

  .u-section-1 .u-tabs-1 {
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    min-height: 394px;
    grid-template-columns: repeat(7, 14.285714285714286%);
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    margin-top: 30px;
   /*  margin-left: auto; */
    margin-bottom: 80px;
  }

  .u-section-1 .u-list-2 {
    min-height: 885px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3368px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1056px;
    grid-template-columns: repeat(4, 25%);
    margin-left: initial;
  }

  .u-section-1 .u-list-2 {
    min-height: 2711px;
    grid-template-columns: calc(50% - 5.5px) calc(50% - 5.5px);
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    min-height: 2904px;
    grid-template-columns: repeat(2, 50%);
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-32 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-34 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-36 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-37 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-38 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-39 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 763px;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }
}